{% extends 'training/base.html' %}
{% load custom_filters %}

{% block content %}
<div class="container">
    <div class="card my-4">
        <div class="card-body">
            <div class="row">
                <div class="col-11">
                    <span class="h1 card-title">Edit Training</span>
                </div>
                <div class="col-1 text-end">
                    <a class="btn-close btn" href="{% url 'home'%}"></a>
                </div>
            </div>
            <form class="row g-3" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:"form-control" }}
                    </div>
                </div>
                {% endfor %}
{% comment %}

{% endcomment %}
                {{ formset.management_form }}

                <div class="table-responsive card mt-4">
                    <div class="card-header card-header-secondary">
                        <div class="row">
                            <div class="col-2">
                                <span class="card-title h4">Resource Items</span>
                            </div>
                            <div class="col-2">
                                <a href="#" id="add-resource_item-button" class="btn btn-secondary add-resource_items">Add More</a>
                            </div>

                        </div>
                    </div>
                    <table class="table card-header">
                        <thead class="text-secondary">
                            <th>Name <span style="color: red;" class="required">*</span></th>
                            <th>Quantity <span style="color: red;" class="required">*</span></th>
                            <th>Price <span style="color: red;" class="required">*</span></th>
                            <th>Delete?</th>
                        </thead>
                        <tbody id="item-resource_items">  
                            <!-- formset non forms errors -->
                            {% for error in formset.non_form_errors %}
                                <span style="color: red">{{ error }}</span>
                            {% endfor %}
                            {% for InlineForm in formset %}
                                {{ InlineForm.management_form }}
                                <tr id="resource_items-{{ forloop.counter0 }}" class= hide_all>  <!-- id="inlineformsetname-counter" -->
                                    {{ InlineForm.id }}
                                    {% for field in InlineForm.visible_fields %}
                                        <td>
                                            {{field}}
                                            {% for error in field.errors %}
                                                <span style="color: red">{{ error }}</span>
                                            {% endfor %}
                                        </td>
                                    {% endfor %}

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
        

                


                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Save Changes</button>
                    {% comment %}
                    <a class="btn btn-danger float-end" href="{% url 'delete_training' training.pk %}"
                       onclick="return confirm('Are you sure you want to delete this training?')">Delete</a>
                    {% endcomment %}

                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/html" id="resource_items-template">
            // id='inlineformsetname-__prefix__'
            <tr id="resource_items-__prefix__" class= hide_all>
                {% for fields in formset.empty_form.hidden_fields %}
                    {{ fields }}
                {% endfor %}

                {% for fields in formset.empty_form.visible_fields %}
                    <td>{{fields}}</td>
                {% endfor %}
            </tr>
            </script>

<script>

  $(document).ready(function() {
    // when user clicks add more btn of resource_items
      $('.add-resource_items').click(function(ev) {
          ev.preventDefault();
          var count = $('#item-resource_items').children().length;
          var tmplMarkup = $('#resource_items-template').html();
          var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
          $('#item-resource_items').append(compiledTmpl);

          // update form count
          $('#id_resourceitem_set-TOTAL_FORMS').attr('value', count+1);
      });
  });
</script>
{% endblock %}
