{% extends "adminlte/login.html" %}
{% load i18n static %}

{% block logo_text %}
    <b>Training Management</b>
{% endblock %}

{% block login_form %}
                <form action="" method="post">
                    {% csrf_token %}
                    {% if message %}
                        <p class="login-box-msg" style="color: red;">{{ message }}</p>
                    {% endif %}
                    <div class="form-group has-feedback">
                        <input name="username" class="form-control" placeholder="{% trans 'Username' %}">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" name="password" class="form-control" placeholder="{% trans 'Password' %}">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            {% block login_form_links %}
                            {% endblock %}
                        </div>
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary mx-2">{% trans 'Login' %}</button>
                        </div>
                    </div>
                </form>
            {% endblock login_form %}

